#home {
    font-family: 'Cairo', sans-serif;
}

body {
    font-family: 'El Messiri', sans-serif;

}

.navbar,
.nav-link,
.nav-item,
.navbar-brand {
    color: white;
    background-color: #38211c;
}

video {
    object-fit: cover;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.2);
}

.icon-container {
    display: flex;
}

.bulit_icon {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    color: #38211c;
    text-align: center;
}

.banner-area {
    min-height: 100vh;
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-position: center;
}


.navbar {
    box-shadow: 0px 3px 6px rgb(7, 7, 7);
}

.nav-item>.nav-link {
    font-weight: bold !important;
    font-size: 1.4rem;
    margin-left: 15px;
}


.products {
    padding: 0;
    margin-bottom: 1px;
    background-color: rgb(240, 233, 233);
    overflow: hidden;

}

.products img {
    height: 280px;
    width: 280px;
    opacity: .6;
    transform: scale(1.1);
    transition: 1s;
}

.products img:hover {
    opacity: 1;
    transform: scale(1);
}

.map {
   
     height: 800px;
    width: 1200px;
 background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, .7)), url(../images/yem-cof-map.jpg);    background-size: cover;
    background-position: center;

}

.map img {
    height: 300px;
    width: 400px;
    transition: 2s;
}

.map img:hover {
    transform: scale(2);
  box-shadow: 0px 3px 6px rgb(7, 7, 7);

 
}


.Social-nav {
    display: flex;
    list-style: none;
}

.Social-nav li {
    margin: 0 10px;
}


.Social-nav li a:link,
.Social-nav li a:visited {
    color: white;
    text-decoration: none;

}

.Social-nav li a:link,
.Social-nav li a:visited {
    font-size: 22px;

}

.Social-nav li a:hover,
.Social-nav li a:active {
    color: #38211c;

}


.coffee_section {
    width: 100%;
    float: right;
}

.coffee_taital {
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.bulit_icon {

    margin: auto;

}

span {
    font-weight: bold;
    color: #38211c;
}

.coffee_section_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}


.coffee_img img {
    width: 200px;
    height: 200px;
    float: right;

}

.read_bt {
    width: 160px;
    margin: 0 9px;
    text-align: center;
    padding-top: 45px;
    display: flex;

}

.read_bt a {
    width: 100%;
    float: right;
    font-size: 16px;
    color: #38211c;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #4b2323;
    text-transform: uppercase;
    padding: 8px;
    box-shadow: 0px 0px 6px rgb(7, 7, 7);

}

.read_bt a:hover {
    background-color: #38211c;
    color: white;
    border: 2px solid #141414;
}


.story_img img{
height: 250px;
width: 400px;
box-shadow: 0px 0px 6px rgb(7, 7, 7);

}

.test_img img{
height: 250px;
width: 250px;
box-shadow: 0px 0px 6px rgb(7, 7, 7);

}

#contact-us{
   
       min-height: 50vh;
 background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, .7)), url(../images/bg-contact.jpg); 
           background-size: cover;
    background-position: center;

}


.footer_section {
    min-height: 25vh;
    background-image:
     url(../images/footer-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    justify-content: space-between
}

.useful_text {
    width: 70%;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    float: left;
}

.footer_text {
    width: 70%;
    font-size: 14px;
    color: #ffffff;
    float: left;

}

.footer_menu {
    width: 70%;
    float: left;

}

.footer_menu ul,
.location_text ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer_menu li {
    font-size: 14px;
    color: #ffffff;

}

.footer_menu li a,
.location_text li a {
    color: #ffffff;
    text-decoration: none;

}

.footer_menu li a:hover,
.location_text li a:hover {
    color: #a84a24;
}

.dummy_text {
    width: 70%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: auto;
}

.location_text {
    width: 70%;
    float: left;
}


.location_text li {
    font-size: 14px;
    color: #ffffff;
    padding: 0px 0px 7px 7px;

}

.padding_left_10,
.icon {
    padding-right: 10px;
}


